pkgbase = dolphin-emu
	pkgdesc = A Gamecube and Wii emulator
	pkgver = 5.0.r21450.b6f0e8876e
	pkgrel = 1
	epoch = 1
	url = https://dolphin-emu.org
	arch = x86_64
	license = GPL2
	makedepends = cmake
	makedepends = git
	makedepends = ninja
	depends = libevdev
	depends = libxi
	depends = qt6-base
	depends = qt6-svg
	optdepends = pulseaudio: PulseAudio backend
	options = !emptydirs
	options = !lto
	source = dolphin-emu::git+https://github.com/dolphin-emu/dolphin.git#commit=57c890d4fcec1b86d71a8a5ad9c51c548a7bd9cd
	source = git+https://github.com/arsenm/sanitizers-cmake.git
	source = git+https://github.com/curl/curl.git
	source = git+https://github.com/Cyan4973/xxHash.git
	source = git+https://github.com/epezent/implot.git
	source = git+https://github.com/fmtlib/fmt
	source = git+https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
	source = git+https://github.com/KhronosGroup/SPIRV-Cross.git
	source = git+https://github.com/libusb/libusb.git
	source = git+https://github.com/lsalzman/enet.git
	source = git+https://github.com/lz4/lz4
	source = git+https://github.com/mgba-emu/mgba.git
	source = git+https://github.com/mozilla/cubeb.git
	source = git+https://github.com/randy408/libspng.git
	source = git+https://github.com/RetroAchievements/rcheevos.git
	source = git+https://github.com/zlib-ng/zlib-ng.git
	source = git+https://github.com/syoyo/tinygltf.git
	source = git+https://github.com/libusb/hidapi.git
	source = https://github.com/libsdl-org/SDL
	source = sdc.patch
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP

pkgname = dolphin-emu
	depends = libevdev
	depends = libxi
	depends = qt6-base
	depends = qt6-svg
	depends = hicolor-icon-theme
	depends = libevdev
	depends = libxi
	depends = qt6-base
	depends = qt6-svg

pkgname = dolphin-emu-tool
