*.pkg.tar.zst

*/pkg/
*/src/

dolphin-emu/SPIRV-Cross/
dolphin-emu/VulkanMemoryAllocator/
dolphin-emu/cpp-ipc/
dolphin-emu/cpp-optparse/
dolphin-emu/cubeb/
dolphin-emu/dolphin-emu/
dolphin-emu/fmt/
dolphin-emu/imgui/
dolphin-emu/implot/
dolphin-emu/mgba/
dolphin-emu/minizip-ng/
dolphin-emu/rcheevos/
dolphin-emu/sanitizers-cmake/
dolphin-emu/tinygltf/
dolphin-emu/watcher/
dolphin-emu/zlib-ng/

wine/wine
