pkgbase = ryujinx-git
	pkgdesc = Experimental Nintendo Switch Emulator written in C#
	pkgver = 1.1.1346.r0.g595e514
	pkgrel = 1
	url = https://www.ryujinx.org/
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = desktop-file-utils
	depends = zlib
	depends = hicolor-icon-theme
	depends = libx11
	depends = fontconfig
	provides = ryujinx
	conflicts = ryujinx
	noextract = dotnet-sdk-8.0.303-linux-x64.tar.gz
	options = !strip
	options = !debug
	source = git+https://github.com/Ryujinx/Ryujinx
	source = https://dotnetcli.azureedge.net/dotnet/Sdk/8.0.303/dotnet-sdk-8.0.303-linux-x64.tar.gz
	sha256sums = SKIP
	sha256sums = 214ee467f75c42f1512748fe7ca8dd82da2af29cdf54be614a8997f0466ef070
	b2sums = SKIP
	b2sums = 3008c5b3f84a965b717b2f51733cbf6d5ba218f5ae97dc250a2e7279e645b8577d8b6d5443f73e8130385d2263196f954ba6bfa64a2b33a8685d0c5a4035ed19

pkgname = ryujinx-git
