pkgbase = ryujinx-git
	pkgdesc = Experimental Nintendo Switch Emulator written in C#
	pkgver = 1.1.1385.r0.gca59c3f
	pkgrel = 1
	url = https://www.ryujinx.org/
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = desktop-file-utils
	depends = zlib
	depends = hicolor-icon-theme
	depends = libx11
	depends = fontconfig
	provides = ryujinx
	conflicts = ryujinx
	noextract = dotnet-sdk-8.0.401-linux-x64.tar.gz
	options = !strip
	options = !debug
	source = git+https://github.com/Ryujinx/Ryujinx
	source = https://dotnetcli.azureedge.net/dotnet/Sdk/8.0.401/dotnet-sdk-8.0.401-linux-x64.tar.gz
	sha256sums = SKIP
	sha256sums = 6231d3902d2b2d8e73a3d681c5cbaacc95be35bdc02e25bd3947d0ab8629f9f9
	b2sums = SKIP
	b2sums = 48700c9b7c0044992c0e5fb32e99f2e57fb7ce27a21b8e1619f92545b426d5f53047ac8400e34fd6e36c2211fd3f675a8bd008da7aed2caf1166962ced3061b2

pkgname = ryujinx-git
