pkgbase = ryujinx-git
	pkgdesc = Experimental Nintendo Switch Emulator written in C#
	pkgver = 1.1.1325.r0.gc41fddd
	pkgrel = 1
	url = https://www.ryujinx.org/
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = desktop-file-utils
	depends = zlib
	depends = hicolor-icon-theme
	depends = libx11
	depends = fontconfig
	provides = ryujinx
	conflicts = ryujinx
	noextract = dotnet-sdk-8.0.301-linux-x64.tar.gz
	options = !strip
	options = !debug
	source = git+https://github.com/Ryujinx/Ryujinx
	source = https://dotnetcli.azureedge.net/dotnet/Sdk/8.0.301/dotnet-sdk-8.0.301-linux-x64.tar.gz
	sha256sums = SKIP
	sha256sums = d237cf0e8865f51eb9634df32a8bcfb1dd95dac95c0d16b5d599df867ab16c27
	b2sums = SKIP
	b2sums = 811ce5a5031269c641e75c668a7a4ccaf5fa4bc75adb4e5d8c8ae4c75fe491a6dd9a0632e5f6b2ee6b343e775365c1b9e3b5ea353015a39a53f0ccdbddbbf6c4

pkgname = ryujinx-git
