pkgbase = linux-ltbv3
	pkgdesc = Linux built with the LLVM toolchain, ThinLTO, BORE CPU Scheduling, and x86-64-v3 CPU optimizations
	pkgver = 6.9.1.arch1
	pkgrel = 1
	url = https://github.com/archlinux/linux
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = clang
	makedepends = lld
	makedepends = llvm
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.9.1.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.9.1.tar.sign
	source = https://github.com/archlinux/linux/releases/download/v6.9.1-arch1/linux-v6.9.1-arch1.patch.zst
	source = https://github.com/archlinux/linux/releases/download/v6.9.1-arch1/linux-v6.9.1-arch1.patch.zst.sig
	source = config
	source = https://raw.githubusercontent.com/firelzrd/bore-scheduler/main/patches/testing/linux-6.9-bore/0001-linux6.9.y-bore5.2.0.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 83BC8889351B5DEBBB68416EB8AC08600F108CDF
	sha256sums = 01b414ba98fd189ecd544435caf3860ae2a790e3ec48f5aa70fdf42dc4c5c04a
	sha256sums = SKIP
	sha256sums = 8cb3d0a2769d1471c38fb5f1bdd1395333790453a399767c3af8673bc6a714b5
	sha256sums = SKIP
	sha256sums = bbf3ebee5fcf2780a5f6b14fd13ceea809b0e332eebc452a63b5d0513747bf7e
	b2sums = 388af1d13e78a424f72a961697f4b0b6a234e54ce1e4a2532fc73717301e048c6f4a6251b6e3c4541179d1382566c3f411baa6883818a10d178ef27d036b5379
	b2sums = 29477484662cecdd0563bda6354b35cd8d90d90b099c13ba24f15e76d0a69f61b2b9df2e58be3fc7464975e728efc23be7b6432b2afc741ed721a7e8d3370fab
	b2sums = 7e31c0f9e24c7b1f8e3f5b02b111cf21fbd59a56540f330c688c79cdbfb3ec6c80779885bf85bdc6c4062bec30e3d0708be9fe40be95404c260c13ba21c2ff6a

pkgname = linux-ltbv3
	pkgdesc = The Linux built with the LLVM toolchain, ThinLTO, BORE CPU Scheduling, and x86-64-v3 CPU optimizations kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-ltbv3-headers
	pkgdesc = Headers and scripts for building modules for the Linux built with the LLVM toolchain, ThinLTO, BORE CPU Scheduling, and x86-64-v3 CPU optimizations kernel
	depends = pahole
