pkgbase = linux-ltbv3
	pkgdesc = Linux built with the LLVM toolchain, ThinLTO, BORE CPU Scheduling, and x86-64-v3 CPU optimizations
	pkgver = 6.8.7.arch1
	pkgrel = 2
	url = https://github.com/archlinux/linux
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = clang
	makedepends = lld
	makedepends = llvm
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.8.7.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.8.7.tar.sign
	source = https://github.com/archlinux/linux/releases/download/v6.8.7-arch1/linux-v6.8.7-arch1.patch.zst
	source = https://github.com/archlinux/linux/releases/download/v6.8.7-arch1/linux-v6.8.7-arch1.patch.zst.sig
	source = config
	source = https://raw.githubusercontent.com/firelzrd/bore-scheduler/main/patches/stable/linux-6.8-bore/0001-linux6.8.y-bore5.1.0.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 83BC8889351B5DEBBB68416EB8AC08600F108CDF
	sha256sums = 291d1a1faf4e87b3b0ea9729080db887aafd1ff2fac1430ceca921e46bc22fae
	sha256sums = SKIP
	sha256sums = a49b47f89187d2fce6c79f263683bc06b152974b4cf8d8faee535e4bcf04adc7
	sha256sums = SKIP
	sha256sums = 3b6e6d0f7f0e6c2c5ff3614b680132b7d568e4c23cf9dc8e833e176fb970c42c
	sha256sums = 5b20f536e33ed66d763b7a698e167ee98ac9150267f59732cf8415d988303469
	b2sums = e8626a99c6c5769a8126d5ee1c7962c3df3c7a8c689193ffa864c4a4b8e72daeeaf22c3e3bb6ba5490eca3ef64c32a4a12980360a196444a53abadd791cd1855
	b2sums = SKIP
	b2sums = ae851de7fbe18ace280440a0125e5a0d864e4d648e1161ad03c99eaabf7d228d6c9c6869520ddd14b546c14e30b17c6a191d947ad4e9652cd8af9d9ad209eef3
	b2sums = SKIP
	b2sums = 3cceed93d989f168bbb9b18e99d2bb264e72da3ae6de34f94630eba0605be3577d139b62ab602ae8c3295796310fc7345577be234b288b9f1d4a2c61cbd5c015
	b2sums = f7ffef2ce879b8d9e3a57b0e5e641e73606f979858e7a2f905c8092012faecf6ebaa64ca5f006a22dde79630902b16dd6a170ba2804baadbb917761f2442a0a3

pkgname = linux-ltbv3
	pkgdesc = The Linux built with the LLVM toolchain, ThinLTO, BORE CPU Scheduling, and x86-64-v3 CPU optimizations kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-ltbv3-headers
	pkgdesc = Headers and scripts for building modules for the Linux built with the LLVM toolchain, ThinLTO, BORE CPU Scheduling, and x86-64-v3 CPU optimizations kernel
	depends = pahole
