pkgbase = linux-ltbv3
	pkgdesc = Linux built with the LLVM toolchain, ThinLTO, BORE CPU Scheduling, and x86-64-v3 CPU optimizations
	pkgver = 6.9.6.arch1
	pkgrel = 1
	url = https://github.com/archlinux/linux
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = clang
	makedepends = lld
	makedepends = llvm
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.9.6.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.9.6.tar.sign
	source = https://github.com/archlinux/linux/releases/download/v6.9.6-arch1/linux-v6.9.6-arch1.patch.zst
	source = https://github.com/archlinux/linux/releases/download/v6.9.6-arch1/linux-v6.9.6-arch1.patch.zst.sig
	source = config
	source = https://raw.githubusercontent.com/firelzrd/bore-scheduler/main/patches/stable/linux-6.9-bore/0001-linux6.9.y-bore5.1.0.patch
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 83BC8889351B5DEBBB68416EB8AC08600F108CDF
	sha256sums = 5d4366e2b89998f274abe03557ef3bc78b58e47fc62c102d51e6f49e5ed96b4b
	sha256sums = SKIP
	sha256sums = f11095f47da518ce4074be587438d30f424d98bcc5c59f7a1a8c00c58ddf5aa4
	sha256sums = SKIP
	sha256sums = 7bdb1b3278286e6b54109187a49412c0474aa2855f9d054402e68d1423d0d76a
	sha256sums = bc81ab988a988f13d04c7c56ce951531dff964465a63962fe3eea6e4cb0e6374
	b2sums = 498da30f8f0c2c3812919eaca0dfa5679ab4517972182d2392e8833b9ca082b0d12777b6a35fd36228a21ac899ec4ee716e66b77e5625885415ccdab36cfb570
	b2sums = SKIP
	b2sums = a7cfa3dec239f0118600526eb1ac00a762349fd3a8c3b18a277d917e0022c927ca6d954f78d0f87d8ee3e7ba1148b741215c4ce19948665dc836419fe90c7c79
	b2sums = SKIP
	b2sums = aded483d056b2c62a288ca0bd3c5c08af36856cb2c23823813069e13f2174702bdd862755bc5b621a56448d455403583745f23b93f9eb08917d248c7ed056c04
	b2sums = 8977bfc234b2d21864de9fec2a881680ac150610174f38c724965d81423f1fec69d2e4a045f24c3b3660d68f4ddde2e2b85c2ccb9b5f594737422ba0be37d9f0

pkgname = linux-ltbv3
	pkgdesc = The Linux built with the LLVM toolchain, ThinLTO, BORE CPU Scheduling, and x86-64-v3 CPU optimizations kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-ltbv3-headers
	pkgdesc = Headers and scripts for building modules for the Linux built with the LLVM toolchain, ThinLTO, BORE CPU Scheduling, and x86-64-v3 CPU optimizations kernel
	depends = pahole
